Debug/
Release/
settings/
*Backup*
*.autosave
*.log
*.orig
*.hgignore
stm8/drivers/adc_keyboard.h
stm8/drivers/am2302.h
stm8/drivers/encoder.h
stm8/drivers/hd44780.h
stm8/drivers/s1d157xx.h
stm8/drivers/ssd1306.h
stm8/wake/
stm8/linker/
modbus/ascii/
modbus/stm8port/demo.c
modbus/tcp/
