// IAR specific defines, defined to exclude errors in parser
#define STM8S003
#define __IAR_SYSTEMS_ICC__ 8
#define __ICCSTM8__ 1
#define __CREATOR__
#define  __intrinsic
#define  __near
#define __interrupt
#define __weak
#define __no_init
#define __eeprom
#define __ramfunc
//#define _Pragma(...)
//#define FORCEINLINE

#define __nounwind
